:root {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  --color-primary: #5c98d9;
  --color-accent: #390f3d;
  --color-surface: rgba(119, 119, 119, 0.9);
  /* Spacing scale */
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 2.4rem;
  --spacing-xl: 3.2rem;
  --spacing-2xl: 4.8rem;
  --spacing-3xl: 6.4rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-image: url("../assets/planet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: calc(32px + (48 - 32) * ((100vw - 360px) / (1920 - 360)));
}
h2 {
  font-size: calc(26px + (36 - 26) * ((100vw - 360px) / (1920 - 360)));
}
h3 {
  font-size: calc(22px + (28 - 22) * ((100vw - 360px) / (1920 - 360)));
}
h4 {
  font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1920 - 360)));
}
body,
h5,
li {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

/* Utilities */
.primary {
  color: var(--color-primary);
}
.secondary {
  color: #fff;
}
.accent {
  color: var(--color-accent);
}
.neutral {
  color: rgb(105, 105, 105);
}
.blue {
  color: var(--color-primary);
}
.center {
  display: flex;
  align-items: center;
}
.show {
  margin-left: var(--spacing-xs);
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}

.icon {
  font-size: 32px;
  color: rgba(57, 15, 61, 0.6);
  transition: transform 150ms ease, color 150ms ease;
}
.icon:hover {
  transform: scale(1.1);
  color: rgb(57, 15, 61);
}
.contact-icon {
  font-size: 32px;
  color: rgba(57, 15, 61, 0.6);
}
.contact-icon:hover {
  color: rgb(57, 15, 61);
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  transition: transform 150ms ease, color 150ms ease;
}
.nav-link-alt {
  color: var(--color-primary);
}
.nav-link:hover,
.active {
  transform: scale(1.1);
  color: var(--color-primary);
}
.nav-link-alt:hover {
  color: rgb(57, 15, 61);
  transform: scale(1.1);
}

.footer-link {
  color: #fff;
}
.footer-link:hover {
  color: var(--color-primary);
}

.btn {
  padding: var(--spacing-sm);
  border-radius: var(--spacing-sm);
  width: 12rem;
  height: 3.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-accent);
  border: 2px solid var(--color-primary);
  transition: transform 150ms ease, background-color 150ms ease,
    color 150ms ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--color-primary);
  color: var(--color-accent);
}
.btn:disabled {
  background-color: rgb(43, 43, 43);
  color: rgb(204, 204, 204);
  border: 2px solid rgb(43, 43, 43);
  transform: none;
  cursor: not-allowed;
}

.loading-logo {
  min-width: 25vw;
  max-width: 50vw;
  height: auto;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copy-text {
  margin-left: var(--spacing-sm);
}

/* Layout */
.page-layout {
  max-width: 1080px;
  margin: 0 auto;
  /* padding: var(--spacing-md) 0; */
  min-height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  padding: var(--spacing-md) 0;
}

/* Components */
.submit-modal-container {
  max-width: 635px;
  width: 100%;
  max-height: 420px;
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
  padding: var(--spacing-md);
}

.submit-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
}

.submit-modal-title {
  text-align: center;
}
.sub-title {
  margin-top: var(--spacing-md);
}
.submit-modal-text {
  text-align: center;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--spacing-lg) 0;
}

/* Desktop Navigation */
.desktopnav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--spacing-md);
}

.desktopnav-container nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.desktopnav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktopnav-list .nav-link {
  white-space: nowrap;
}

/* Mobile Navigation */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-md);
  padding: 0 var(--spacing-md);
}

.mobile-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
}

.mobile-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}

/* Components */
.header-container {
  position: relative;
  display: flex;
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
  padding: var(--spacing-sm);
  z-index: 4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  max-width: 95%;
  margin: 0 auto;
}

.footer-container {
  max-width: 95%;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
  padding: var(--spacing-lg);
  z-index: 4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9), 2px -2px 5px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  /* margin-top: var(--spacing-3xl); */
  margin-top: var(--spacing-lg);
  font-size: 1.2rem;
}

.footer-title {
  font-size: calc(26px + (36 - 26) * ((100vw - 360px) / (1920 - 360)));
}

.lists-container {
  display: flex;
  gap: var(--spacing-lg);
  white-space: nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.underline {
  background-color: var(--color-surface);
  width: 100%;
  height: 2px;
  margin: 0 auto var(--spacing-md);
}

.footer-list-item {
  font-size: 1.2rem;
  cursor: pointer;
}

.footer-list-item:hover {
  color: var(--color-primary);
}

.footer-social-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.copy-container {
  position: absolute;
  bottom: 0;
  left: var(--spacing-sm);
}

.sitebrand-wrapper {
  display: flex;
}

.sitebrand-img {
  width: calc(4rem + 1.5vw);
  height: auto;
  aspect-ratio: 1;
  background-color: rgba(119, 119, 119, 0.2);
  animation: imageLoad 0.3s ease-in-out;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(119, 119, 119, 0.5);
  border-radius: var(--spacing-sm);
  padding: var(--spacing-lg);
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
}

@media screen and (min-width: 426px) {
  .card-wrapper {
    max-width: 40rem;
  }
}

.card-img {
  max-width: 12.8rem;
  height: auto;
  aspect-ratio: 1;
  background-color: rgba(119, 119, 119, 0.7);
  border-radius: 50%;
  animation: imageLoad 0.4s ease-in-out;
}

.card-social-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
}

.card-line {
  width: 100%;
  height: 2px;
  background-color: rgba(119, 119, 119, 0.5);
}

.home-info-container {
  display: flex;
  max-width: 95%;
  flex-direction: column;
  border: 1px solid rgba(119, 119, 119, 0.5);
  border-radius: var(--spacing-sm);
  padding: var(--spacing-lg);
  align-items: center;
  gap: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
}

.home-info-title {
  align-self: flex-start;
}

.home-info-paratitle {
  margin: var(--spacing-lg) 0 0;
}

.social-contact-container {
  padding: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  max-width: 90vw;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .social-contact-container {
    max-width: 80rem;
    width: 100%;
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container:hover {
  transform: scale(1.1);
}

.icon-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-title {
  white-space: nowrap;
}

/* Image loading animation */
@keyframes imageLoad {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Image optimization */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes loadingAnimation {
  0% {
    width: 0px;
  }
  25% {
    width: 55px;
  }
  50% {
    width: 80px;
  }
  75% {
    width: 105px;
  }
  100% {
    width: 130px;
  }
}

@keyframes loadingProgress {
  0% {
    content: "0%";
  }
  25% {
    content: "25%";
  }
  50% {
    content: "50%";
  }
  75% {
    content: "75%";
  }
  100% {
    content: "100%";
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow: none;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.loading-bar {
  width: 100px;
  height: 8px;
  background-color: white;
  animation: loadingAnimation 2.5s linear infinite;
}

.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 var(--spacing-md);
}

.loading-content-title {
  color: var(--color-primary);
}

.loading-text {
  color: var(--color-primary);
}

.loading-text::after {
  content: "";
  animation: loadingProgress 2.5s linear infinite;
}

.mobile-menu-container {
  position: absolute;
  top: 100%;
  /* bottom: 100%; */
  right: 0;
  left: 0;
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  z-index: 4;
  padding: var(--spacing-lg) 0;
}

.submit-modal-overlay {
  position: absolute;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: -20px;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-3xl);
  z-index: 4;
}

.contact-form {
  padding: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .contact-form {
    max-width: 80rem;
    width: 100%;
  }
}

.form-header {
  text-align: center;
  margin-bottom: var(--spacing-xl);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

@media screen and (min-width: 486px) {
  .form-group {
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-md);
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0;
  gap: var(--spacing-sm);
}

.form-label {
  color: var(--color-primary);
  white-space: nowrap;
}

.form-input {
  padding: var(--spacing-xs);
  border: 0 solid transparent;
  color: var(--color-accent);
}

.form-option {
  padding: var(--spacing-xs);
  color: var(--color-accent);
}

.form-select {
  padding: var(--spacing-xs);
  color: rgb(134, 134, 134);
  cursor: pointer;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-lg) 0;
}

.form-textarea {
  padding: var(--spacing-sm);
  max-width: 48rem;
  width: 100%;
  border: 2px solid transparent;
  color: var(--color-accent);
}

.form-textarea:focus {
  border: 2px solid var(--color-primary);
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

@media screen and (min-width: 600px) {
  .btn-group {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.transparent {
  color: transparent;
}

.error {
  color: red;
}

.error-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    flex-direction: row;
  }
}

.img-container {
  padding: var(--spacing-md);
  text-align: center;
  flex: 1;
}

.me-img {
  width: 50vw;
  max-width: 395px;
  height: auto;
  aspect-ratio: 0.73;
  animation: imageLoad 0.5s ease-in-out;
}

.about-content {
  padding: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
}

.about-span {
  font-size: 1.2rem;
  margin: var(--spacing-md) 0 0;
  font-style: none;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.about-span:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.all-websites-container {
  padding: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
}

.website-section {
  margin-bottom: var(--spacing-2xl);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.website-section-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .website-section-content {
    flex-direction: row;
  }
}

.section-wrapper {
  flex: 1;
  min-width: 10vw;
  max-height: 10vh;
  background-color: white;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  .section-wrapper {
    min-width: 20rem;
    min-height: 10rem;
  }
}

.website-img,
.project-img {
  position: relative;
  z-index: 1;
}

.website-img:hover,
.project-img:hover {
  cursor: pointer;
}

.website-img-overlay,
.project-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.website-img-overlay h2,
.project-img-overlay h2 {
  text-align: center;
  display: none;
}

.website-img-overlay:hover,
.project-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.website-img-overlay:hover h2,
.project-img-overlay:hover h2 {
  display: block;
}

.go-back,
.view-all {
  margin-top: var(--spacing-md);
  font-size: 1.4rem;
  font-style: none;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.go-back:hover,
.view-all:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.projects-page-container,
.skills-container {
  padding: var(--spacing-lg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  background-color: var(--color-surface);
  backdrop-filter: blur(5px);
}

.project-section,
.skills-section {
  margin-bottom: var(--spacing-2xl);
}

.project-section-content,
.website-section-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .project-section-content,
  .website-section-content {
    flex-direction: row;
  }
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-one {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-md) 0;
}

.skills-span {
  font-size: 1.2rem;
  font-style: none;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.skills-span:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.notfound-return-text {
  text-align: center;
}

.notfound-error-text {
  font-size: 96px;
  text-align: center;
}

.home-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--spacing-2xl);
}

@media screen and (max-width: 880px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
  }
}
