/* Mobile: 320px—480px
iPads & tablets: 481px—768px
laptop: 769px—1024px 
Desktops: 1025px—1200px 
TV: 1201px-UP */

/* ------------- */
/* ----RESET---- */
/* ------------- */

* {
  /* border: 0.4px solid red; */
  border-radius: 0.4rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  background-image: url('./assets/planet.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html,
body {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  color: white;
}

a,
button {
  cursor: pointer;
}

:link,
:visited,
li,
a {
  text-decoration: none
}

ul,
ol {
  list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0
}

a img,
:link img,
:visited img {
  border: none
}

address {
  font-style: normal
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
}

/* -------------- */
/* ----GLOBAL---- */
/* -------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: calc(32px + (48 - 32) * ((100vw - 360px) / (1920 - 360)));
}

h2 {
  font-size: calc(26px + (36 - 26) * ((100vw - 360px) / (1920 - 360)));
}

h3 {
  font-size: calc(22px + (28 - 22) * ((100vw - 360px) / (1920 - 360)));
}

h4 {
  font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1920 - 360)));
}

body,
h5,
li {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.icon {
  font-size: 32px;
  color: rgba(57, 15, 61, 0.6);
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(57, 15, 61);

}

.nav-link {
  /* font-size: 32px; */
  color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover,
.active {
  cursor: pointer;
  transform: scale(1.1);
  color: #5C98D9;
}

.active {
  color: rgb(57, 15, 61);
}

/* .dark-mode-icon {
  font-size: 1.6rem;
} */

.primary {
  color: #5C98D9;
}

.secondary {
  color: white;
}

.accent {
  color: rgb(57, 15, 61);
}

.footer-link {
  color: white
}

.footer-link:hover {
  color: #5C98D9;
  cursor: pointer;
}

.loading-logo {
  min-width: 25vw;
  max-width: 50vw;
  height: auto;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copy-text {
  margin-left: 0.8rem;
}

.center {
  display: flex;
  align-items: center;
}

.show {
  margin-left: 0.4rem;
}