/* Mobile: 320px—480px
iPads & tablets: 481px—768px
laptop: 769px—1024px 
Desktops: 1025px—1200px 
TV: 1201px-UP */
* {
  border: 0.4px solid red;
  border-radius: 0.4rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: calc(32px + (48 - 32) * ((100vw - 360px) / (1920 - 360)));
}

h2 {
  font-size: calc(26px + (36 - 26) * ((100vw - 360px) / (1920 - 360)));
}

h3 {
  font-size: calc(22px + (28 - 22) * ((100vw - 360px) / (1920 - 360)));
}

h4 {
  font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1920 - 360)));
}

body,
h5,
li {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.pad-all {
  padding: 1.6rem;
}

.pad-t {
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.pad-b {
  padding: 0 1.6rem 1.6rem 1.6rem;
}

.icon {
  font-size: 32px;
}

/* .pad-sides {
  padding: 0 1.6rem;
} */